.profileSettings img {
    width: 200px;
}

.profileSettings .profilePicture {
    width: 100vw;
}

.profileSettings .family {
    margin-top: 20px;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.profileSettings .settingsContainer {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.profileSettings .familyMember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.buttonContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.family h3,
.family h4 {
    margin-left: 10px;
}

.profileSettings .editButton {
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    transition: bottom 1s ease;
}

.profileSettings button:hover,
.profileSettings .editProfileButton {
    position: relative;
    bottom: 3px;
}

.editButton img {
    height: 14px;
    width: 14px;
    padding-left: 3px;
    padding-right: 3px;
}

.cancelButton {
    background-color: #961416;
    margin-left: 20px;
} 

.profileSettings .profileContainer {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.displayEditFamily {
    background-color: white;
    margin: 10px;
    padding:10px;
}

.displayEditFamily input {
    margin: 10px;
}