.getStarted,
.question1,
.parentQ,
.careProviderQ,
.parentQ2,
.careProviderQ2,
.parentQ3,
.careProviderQ3 {
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    transition: left 1.5s;
    background-color: #9B59B6;
    color: white;
}

.question1 button,
.parentQ button,
.parentQ2 button,
.careProviderQ button {
    padding: 5px;
    font-size: 18px;
    margin: 3px;
}

#next {
    position: absolute;
    top: 45%;
    right: 10px;
    background-color: transparent;
}

#next img,
#prev img {
    width: 30px;
}

#prev {
    position: absolute;
    top: 45%;
    left: 10px;
    width: 30px;
    background-color: #9B59B6;
}

.tellUs h3,
.tellUs h5 {
    padding: 5px;
    margin: 5px;
}
.tellUs {
    margin-bottom: 15px;
}

.longBio {
    width: 50%;
    height: 100px;
    border-radius: 5px;
    outline: none;
}

.shortBio {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    outline: none;
}

.setProfilePic {
    width: 70%;
}

@media (min-width: 700px) {
    .setProfilePic {
        width: 600px;
    }
}