.messagesContainer textarea {
    width: 94%;
    height: 50px;
    margin: 2%;
    position: fixed;
    bottom: 0;
}
/* 
.messagesContainer > div {
    position: absolute;
    bottom: 120px;
    z-index: -1;
} */

.sendMessage {
    background-color: transparent;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
}

.messagesContainer > div {
    bottom: 60px;
    height: calc(100vh - 155px);
    z-index: -1;
}

.reverseMessages {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}