.careProvider {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.careProviderHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.careProviderHeader img {
    width: 80px;
}

.careProviderInfo {
    width: 300px;
    margin-left: 10px;
}

.rating {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: baseline;
    float: right;
}

.rating img {
    width: 20px;
}

.moreInfoButton {
    font-size: 12px;
    padding: 5px;
    float: right;
    margin-right: 7px;
    margin-top: 15px;
}

.careProviderInfo h3,
.careProviderInfo h4 {
    padding: 0px;
    margin: 0px;
}

.viewCareProvider {
    width: 100%;
    background-color: #BDC3C7;
    margin-bottom: 3%;
}

.viewCareProvider .careProviderProfile {
    width: 94%;
    margin: 3%;
}

.careProviderInfoContainer {
    background-color: white;
    padding: 10px;
    margin: 3%;
    margin-top: 0px;
}


.messageButton img {
    position: absolute;
    height: 20px;
    margin: 5px;
    margin-bottom: 0px;
    left: 10px;
    bottom: 17px;
}

.messageButton {
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    top: calc(52% + 100px);
    left: 5%;
    width: 53px;
    height: 53px;
    background-color: #9B59B6;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.messageButton:hover {
    width: 170px;
}

.messageContainer h2 {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 55px;
    top: 15px;
    font-size: 20px;
    color: black;
}

@media (min-width: 600px) {
    .messageButton {
        left: calc(50% - 270px);
    }
}