body {
    background-color: #BDC3C7;
}

.newPost {
    height: auto;
}

.postContainer,
.postContainer input,
.postContainer div {
    background-color: white;
}

.postContainer {
    margin: 10px;
}

.postText {
    height: 150px;
    width: 90%;
    margin: 4%;
    margin-top: 0;
    padding-top: 10px;
    outline: none;
}

.anonymousBox input,
.anonymousBox h3 {
    display: inline-block;
}

.postContainer .icons {
    float: right;
    position: relative;
    bottom: 60px;
}

.menu {
    height: 30px;
    margin: 10px;
}

.camera {
    height: 55px;
}

.postImg:hover {
    -webkit-filter:  grayscale(20%) brightness(85%);
}

.newPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.newPost .status {
    outline: none;
}

.status option {
    outline: none;
}

.backButtonContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.postImg {
    width: 90%;
    margin: 4.5%;
}


.overlayContainer img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.overlayContainer .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlayContainer:hover img {
    opacity: 0.3;
}
  
.overlayContainer:hover .middle {
    opacity: 1;
}
  
.overlayContainer .text {
    background-color: #9B59B6;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}